.container {
    width: 700px;
    height: 150px;
    /* height: 500px; */
    border: 5px solid black;
    margin: auto;
    display: flex;
    /* flex-direction: column-reverse; mengatur kolom */
    /* flex-wrap: wrap; menambah baris baru */
    /* justify-content: space-between; jarak antar element */
    /* align-items: baseline; mengatur kesejajaran*/
    /* align-content: flex-start;*/
}

.container div {
    margin: 5px;
    /* width: 150px;
    height: 150px; */
    background-color: salmon;
    flex: 1;
}

.container div.dua {
    flex: 2;
    align-self: flex-end;
}

/* .container div.satu {
    order: 3;
} */

/* .container::after {
    display: block;
    content: '';
    clear: both;
} */